/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
    color: white;
}

.navbar .logo {
    font-weight: bold;
}

.navbar .logo img {
    height: 4rem;
    border-radius: 7%;
}

.nav-bar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-bar-links li {
    display: inline;
}

.nav-bar-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-bar-links a:hover {
    background-color: #575757;
}
